.link{
    color: white;
    font-size: x-large;
}

.active-link {
    color: rgb(55, 55, 119);
    font-size: x-large;
    border-bottom: 2px solid white;
  }
  

.div-container{
    background-color: rgb(128, 128, 128);
    width: 100%;
}

body{
    background-color: rgb(176, 176, 244);
}